body, button, input, optgroup, select, textarea{
    font-family: 'Open Sans', sans-serif;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
}

.navbar-brand .navbar-item .title {
    font-family: 'Orbitron', sans-serif;
}

.image img{
    object-fit: cover;
}

.navbar-link:not(.is-arrowless)::after{
    border-color: #0a0a0a!important;
}

.tag{
    border:1px solid #dbdbdb;
}

#TableOfContents ul {
    list-style-type: "\1F517";
    list-style-position: outside;
    margin-left: 20px;
}

