<!DOCTYPE html>
<html lang="{{ .Page.Language | default " nl-nl" }}">

<head>
  {{- partial "head.html" . -}}

</head>

<body class="has-background-white-ter">
  {{- partial "header.html" . -}}
  <section class="container py-6">
    <div class="columns">
      <div class="column">
        {{- block "main" . }}{{- end }}
      </div>
      <div class="column is-one-quarter">
        {{- partial "sidebar.html" . -}}
      </div>
  </section>

  {{- partial "footer.html" . -}}
  

  {{- partial "scripts.html" . -}}
</body>

</html>