<div class="card mb-6">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ .Params.featureImage }}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    {{ if isset .Params "author" }}
                    {{ $author := index .Site.Data.authors .Params.Author }}
                    <img src="https://www.gravatar.com/avatar/{{ md5 $author.email }}?s=100&d=identicon">
                    {{ else }}
                    <img src="/images/author.jpg" alt="Placeholder image">
                    {{ end }}

                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4" href="{{ .Permalink }}">{{ .Title }}</p>
                {{ if isset .Params "author" }}
                {{ $author := index .Site.Data.authors .Params.Author }}
                <p class="subtitle is-6">{{ $author.name }} - {{ .PublishDate.Format "January 2, 2006" }}</p>
                {{ else }}
                <p class="subtitle is-6">Unknown - {{ .PublishDate.Format "January 2, 2006" }}</time></p>
                {{ end }}
            </div>
        </div>

        <div class="content">
            <div class="mb-5">
                {{ .Summary }}
            </div>
            <div class="tags has-addons is-pulled-left">
                <span class="tag is-dark">Categories</span>
                {{ range .Params.categories }}
                    <a class="tag is-link" href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a> 
                {{ end }}
            </div>
            <div class="tags has-addons is-pulled-right">
                <span class="tag is-dark">Tags</span>
                {{ range .Params.tags }}
                    <a class="tag is-link" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>