<footer class="footer is-white mt-6">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  <section class="section is-small has-background-grey-darker	has-text-white">
    <div class="container">
      <h1 class="title is-4 has-text-white">{{ .Title }}</h1>
      <h2 class="subtitle is-6 has-text-white">
        {{ .Site.Copyright }}
      </h2>
    </div>
  </section>