{{ if .IsHome }}
<title>{{ .Title }}</title>
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" type="text/css" as="style" onload="this.onload = null; this.rel = 'stylesheet' ; " />
<link rel="preload" href="https://cdn.jsdelivr.net/npm/bulma-list/css/bulma-list.css" type="text/css" as="style" onload="this.onload = null; this.rel = 'stylesheet' ; " />
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css" as="style" onload="this.onload = null; this.rel = 'stylesheet' ; " />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&family=Orbitron&display=swap">
<link rel="preload" href="/assets/css/main.css" type="text/css" as="style" onload="this.onload = null; this.rel = 'stylesheet' ; " />