<nav class="navbar is-dark" role="navigation" aria-label="social navigation">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          {{- partial "social.html" . -}}
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar is-info py-5" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title has-text-black	is-size-2">
        {{ .Site.Title }}
        </h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-main" class="navbar-menu">
      <div class="navbar-end">
        {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <div class="navbar-item has-text-black has-dropdown is-hoverable">
              <a class="navbar-link has-text-black is-size-5">
                {{ .Name }}
              </a>

              <div class="navbar-dropdown">
                {{ range .Children }}
                <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>

            {{ else }}
            <a href="{{ .URL }}" class="navbar-item has-text-black is-size-5">
              {{ .Name }}
            </a>
            {{ end }}
            {{ end }}
        
      </div>
    </div>
  </div>
</nav>