{{- $validFormats := slice "default" "terse" }}

{{- $msg1 := "When passing a map to the internal pagination template, one of the elements must be named 'page', and it must be set to the context of the current page." }}
{{- $msg2 := "The 'format' specified in the map passed to the internal pagination template is invalid. Valid choices are: %s." }}

{{- $page := . }}
{{- $format := "default" }}

{{- if reflect.IsMap . }}
  {{- with .page }}
    {{- $page = . }}
  {{- else }}
    {{- errorf $msg1 }}
  {{- end }}
  {{- with .format }}
    {{- $format = lower . }}
  {{- end }}
{{- end }}

{{- if in $validFormats $format }}
  {{- if gt $page.Paginator.TotalPages 1 }}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {{- partial (printf "partials/inline/pagination/%s" $format) $page }}
  </nav>
  {{- end }}
{{- else }}
  {{- errorf $msg2 (delimit $validFormats ", ") }}
{{- end -}}

{{/* Format: default
{{/* --------------------------------------------------------------------- */}}
{{- define "partials/inline/pagination/default" }}
  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- with .Prev }}
      <a href="{{ .URL }}" class="pagination-previous">Previous</a>
    {{- else }}
      <a href="{{ .URL }}" class="pagination-previous disabled">Previous</a>
    {{- end }}

    {{- with .Next }}
    <a href="{{ .URL }}" class="pagination-next">Next page</a>
  {{- else }}
    <a href="{{ .URL }}" class="pagination-next disabled">Next page</a>
  {{- end }}
  <ul class="pagination-list">
    {{- with .First }}
      {{- if gt $currentPageNumber 3 }}
        <li><a href="{{ .URL }}" class="pagination-link" aria-label="Goto page 1">1</a></li>
      {{- end }}
      {{- if gt $currentPageNumber 4 }}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {{- end }}
    {{- end }}

    

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}

    {{- range $k := seq $start $end }}
      {{- if eq $.Paginator.PageNumber $k }}
      <li><a class="pagination-link has-background-info	has-text-white" aria-label="Goto page {{ $k }}">{{ $k }}</a></li>
      {{- else }}
      <li><a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" class="pagination-link" aria-label="Goto page {{ $k }}">{{ $k }}</a></li>
      {{- end }}
    {{- end }}

    

    {{- with .Last }}
      {{- if lt $currentPageNumber (sub .TotalPages 3) }}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      {{- end }}
      {{- if lt $currentPageNumber (sub .TotalPages 2) }}
        <li><a href="{{ .URL }}" class="pagination-link" aria-label="Goto page {{ .TotalPages }}">{{ .TotalPages }}</a></li>
      {{- end }}
    {{- end }}
    </ul>
  {{- end }}
{{- end -}}
