<!-- Search -->
<!--
<div class="widget">
    <h5 class="widget-title"><span>Search</span></h5>
    <form action="javascript:void(0)" class="widget-search">
        <input id="search-query2" name="s" type="search" placeholder="Type &amp; Hit Enter...">
        <button type="submit"><i class="ti-search"></i>
        </button>
    </form>
</div>
-->
{{ range $key, $value := .Site.Taxonomies }}
<nav class="panel mb-6">
    <p class="panel-heading is-capitalized">
        {{ $key }}
    </p>
    {{ range first 10 $value.ByCount }}
        <a href='{{ $.Site.BaseURL}}{{ $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="panel-block has-background-white-bis">
            <span class="panel-icon">
                <i class="fas fa-tags" aria-hidden="true"></i>
            </span>
            <span class="is-capitalized	">{{ .Name }}</span>
            <span class="tag is-info ml-auto">{{ .Count }}</span>
        </a>
        
    {{ end }}
</nav>
{{ end }}
<!-- latest post -->
<nav class="panel mb-6">
    <p class="panel-heading">
        Featured Articles
    </p>
    <div id="playlist" data-example>

    {{ range first 5 .Site.Taxonomies.tags.featured }}

        <a href='{{ .Permalink }}' class="list has-overflow-ellipsis has-visible-pointer-controls has-hoverable-list-items has-background-white-bis">
          <div class="list-item">
            <div class="list-item-image">
              <figure class="image is-square is-fullwidth is-64x64">
                <img src="{{ .Params.featureImage }}" alt="Night Sketches">
              </figure>
            </div>
            
            <div class="list-item-content">
              <div class="list-item-title">
                {{ .Title }}
              </div>
     
              <div class="description">
                {{ .PublishDate.Format "January 2, 2006" }}
              </div>
            </div>
          </div>
          
          
        </a>
        
        {{ end }}
    </div>
</nav>